@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

/*アコーディオンメニュー*/
nav {
    display: none;
}

.nav-open {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    background: #2073c8;
    position: relative;
}

.nav-open::before {
    /* 閉じている時 */
    content: "＋";
    position: absolute;
    right: 20px;
}

.nav-open.active::before {
    /* 開いている時 */
    content: "－";
}


#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
